# Python cache
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
*.pot
*.sqlite3

# Virtual environments
env/
venv/
.venv/
ENV/

# IDE settings
.idea/
.vscode/

# OS junk
.DS_Store
Thumbs.db

# Environment variables
*.env
